{% extends 'base.html' %}

{% block title %}Update Post{% endblock %}

{% block content %}
<section class="form-section">

    <div class="form-header">
        <span class="hero-badge">Edit Post</span>
        <h1>Update Post</h1>
    </div>

    <div class="form-box">
        <form method="POST" class="post-form">
            {% csrf_token %}

            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" value="{{ post.title }}">
            </div>

            <div class="form-group">
                <label>Content</label>
                <textarea name="content">{{ post.content }}</textarea>
            </div>

            <div class="form-check">
                <input type="checkbox" name="is_published"
                    {% if post.is_published %}checked{% endif %}>
                <label>Published</label>
            </div>

            <button class="submit-btn">Update</button>
        </form>
    </div>

</section>
{% endblock %}